body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
  h2 {
      font-size: 24px;
     /* text-transform: uppercase;*/
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }  
  .jumbotron {
      background-color: #f4511e;
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }
  .container-fluid {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #f4511e;
      font-size: 50px;
  }
  .logo {
      color: #f4511e;
      font-size: 200px;
  }
  .thumbnail {
      padding: 0 0 0 0;
      border: 2px solid  #f4511e;
      border-radius: 5px;
  }
  
  .navbar {
      margin-bottom: 0;
      background-color: #f4511e;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover{
      color: #f4511e !important;
      background-color: #fff !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #f4511e !important;
      font-weight: bolder;
      font-size: 16px;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }


/*My */

.open .dropdown-toggle {
  color: #fff !important;
  background-color: #f4511e !important;
}
.dropdown-menu li a {
    color: #000 !important;
}
.dropdown-menu li a:hover {
     background-color: #f4511e !important;
     color: white !important;
}





  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #f4511e;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }

  .modal{
    margin-top: 18px;
  }

  .modal .btn {
      padding: 5px 20px;
      background-color: #f4511e;
      color: white;
      border-radius: 10px;
      transition: .2s;
  }

  .modal  .btn:hover, .modal  .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
  }

  .modal .modal-header, .modal h4,.modal .close {
      background-color: #f4511e;
      color: white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal .modal-header, .modal .modal-body {
      padding: 40px 50px;
  }
  .modal label{
    color: #f4511e;
  }



  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }